APP_NAME=sv-backend
APP_PORT=8081
APP_ENV=development

# Neon PostgreSQL (ganti credential dengan punya sendiri saat deploy)
DB_HOST=ep-royal-mode-adahjwqf-pooler.c-2.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=<YOUR_NEON_PASSWORD>
DB_NAME=neondb
DB_SSLMODE=require

# Redis Cloud (ganti credential dengan punya sendiri saat deploy)
REDIS_ADDR=redis-11461.c334.asia-southeast2-1.gce.cloud.redislabs.com:11461
REDIS_PASSWORD=<YOUR_REDIS_PASSWORD>
REDIS_DB=0

# Auth
JWT_SECRET=<YOUR_JWT_SECRET>
JWT_EXPIRY=24h

# Rate Limit
RATE_LIMIT_PUBLIC_RPS=100
RATE_LIMIT_PUBLIC_BURST=10
RATE_LIMIT_ADMIN_RPS=300
RATE_LIMIT_ADMIN_BURST=30
